<div class="container text-center py-4 d-flex justify-content-center">
  <form [formGroup]="form" class="shadow p-4 rounded w-100" novalidate>
    <h1 class="h3 mb-4 fw-bold fs-1">Registrati</h1>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Inserisci il tuo username"
        formControlName="name"
        [ngClass]="{
          'is-invalid':
            form.get('name')?.invalid &&
            (form.get('name')?.touched || form.get('name')?.dirty)
        }"
      />
      <div
        *ngIf="
          form.get('name')?.invalid &&
          (form.get('name')?.touched || form.get('name')?.dirty)
        "
        class="invalid-feedback"
      >
        Devi inserire uno username
      </div>
    </div>

    <div class="form-group">
      <input
        type="email"
        id="inputEmail"
        class="form-control mt-2"
        placeholder="Inserisci la tua email"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            form.get('email')?.invalid &&
            (form.get('email')?.touched || form.get('email')?.dirty)
        }"
      />
      <div
        *ngIf="
          form.get('email')?.invalid &&
          (form.get('email')?.touched || form.get('email')?.dirty)
        "
        class="invalid-feedback"
      >
        Inserisci una email corretta
      </div>
    </div>

    <div class="form-group">
      <input
        type="password"
        class="form-control mt-2"
        id="password"
        placeholder="Password"
        formControlName="password"
        [ngClass]="{
          'is-invalid':
            form.get('password')?.invalid &&
            (form.get('password')?.touched || form.get('password')?.dirty)
        }"
      />
      <div
        *ngIf="
          form.get('password')?.invalid &&
          (form.get('password')?.touched || form.get('password')?.dirty)
        "
        class="invalid-feedback"
      >
        Inserisci una password di almeno 5 caratteri.
      </div>
    </div>

    <div *ngIf="formvalid" class="alert alert-danger mt-3" role="alert">
      Modulo invalido, compila tutti i campi.
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
      {{ errorMessage }}
    </div>

    <button
      (click)="register()"
      class="btn btn-success register-button mt-4"
      [disabled]="form.invalid"
    >
      Registrati
    </button>

    <div class="mt-3">
      <small> Hai già un account? <a routerLink="/auth">Accedi qui</a> </small>
    </div>
  </form>
</div>
